<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table>
  <thead>
    <tr>
      <th>Rfc</th>
      <th>Uuid</th>
      <th>Ccyisocode</th>
      <th>Place generated</th>
      <th>Date</th>
      <th>Emisor</th>
      <th>Receptor</th>
      <th>Vigente</th>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.rfc %></td>
        <td><%= bill.uuid %></td>
        <td><%= bill.ccyisocode %></td>
        <td><%= bill.place_generated %></td>
        <td><%= bill.date %></td>
        <td><%= bill.emisor.name %></td>
        <td><%= bill.receptor_rfc %></td>
        <td><%= bill.vigente %></td>
        <td><%= bill.product_id %></td>
        <td><%= bill.quantity %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
