<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @bill.uuid %>
</p>

<p>
  <strong>Ccyisocode:</strong>
  <%= @bill.ccyisocode %>
</p>

<p>
  <strong>Place generated:</strong>
  <%= @bill.place_generated %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bill.date %>
</p>

<p>
  <strong>Vigente:</strong>
  <%= @bill.vigente %>
</p>

<p>
  <strong>Product:</strong>
  <%= @bill.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bill.quantity %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
